# Environment variables
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Build outputs
.next/
out/
build/
dist/

# Logs
*.log
npm-debug.log*

# Testing
coverage/
.turbo

# Misc
.DS_Store
*.pem
